/a.py
/print('Hello world').py
/Python機械学習プログラミング/第8章_機械学習の適用_感情分析/aclImdb
aclImdb_v1.tar.gz
StudyML/
/Python機械学習プログラミング/第12章_ニューラルネットワークの訓練をPyTorchで並列化する/celeba
/Python機械学習プログラミング/第12章_ニューラルネットワークの訓練をPyTorchで並列化する/MNIST
/Python機械学習プログラミング/第13章_PyTorchのメカニズム/MNIST
/Python機械学習プログラミング/第14章_画像の分類_ディープ畳み込みニューラルネットワーク/MNIST
/Python機械学習プログラミング/第15章_系列データのモデル化_リカレントニューラルネットワーク/1268-0.txt
/Python機械学習プログラミング/第16章_Transformer_Attentionメカニズムによる自然言語処理の改善/BERT.pt